[submodule "dist/.local/share/nvim/site/pack/editing/start/editorconfig-vim"]
	path = dist/.local/share/nvim/site/pack/editing/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "dist/.local/share/nvim/site/pack/editing/start/vim-surround"]
	path = dist/.local/share/nvim/site/pack/editing/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dist/.local/share/nvim/site/pack/editing/start/vim-indent-object"]
	path = dist/.local/share/nvim/site/pack/editing/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "dist/.local/share/nvim/site/pack/editing/start/auto-pairs"]
	path = dist/.local/share/nvim/site/pack/editing/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "dist/.local/share/nvim/site/pack/git/start/vim-fugitive"]
	path = dist/.local/share/nvim/site/pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dist/.local/share/nvim/site/pack/integration/start/tmux-navigator"]
	path = dist/.local/share/nvim/site/pack/integration/start/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "dist/.local/share/nvim/site/pack/themes/start/nord"]
	path = dist/.local/share/nvim/site/pack/themes/start/nord
	url = https://github.com/arcticicestudio/nord-vim
[submodule "dist/.local/share/nvim/site/pack/ux/start/startify"]
	path = dist/.local/share/nvim/site/pack/ux/start/startify
	url = https://github.com/mhinz/vim-startify
[submodule "dist/.local/share/nvim/site/pack/ux/start/lightline"]
	path = dist/.local/share/nvim/site/pack/ux/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "dist/.local/share/nvim/site/pack/ux/start/lightline-bufferline"]
	path = dist/.local/share/nvim/site/pack/ux/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline
[submodule "dist/.local/share/nvim/site/pack/ux/start/limelight"]
	path = dist/.local/share/nvim/site/pack/ux/start/limelight
	url = https://github.com/junegunn/limelight.vim
[submodule "dist/.local/share/nvim/site/pack/ux/start/goyo"]
	path = dist/.local/share/nvim/site/pack/ux/start/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "dist/.local/share/nvim/site/pack/unsorted/start/fzf"]
	path = dist/.local/share/nvim/site/pack/unsorted/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "dist/.local/share/nvim/site/pack/unsorted/start/visual-multi"]
	path = dist/.local/share/nvim/site/pack/unsorted/start/visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "dist/.local/share/nvim/site/pack/editing/start/commentary"]
	path = dist/.local/share/nvim/site/pack/editing/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "dist/.local/share/nvim/site/pack/editing/start/easy-align"]
	path = dist/.local/share/nvim/site/pack/editing/start/easy-align
	url = https://github.com/junegunn/vim-easy-align
